{% extends "base.html" %}

{% block contents %}
    <link href="/static/css/home_calib.css" rel="stylesheet">

    <div class="row">
        <label class="form-control">Dernière calibraton: 15/03/2018 {{ date }} </label>
    </div>
    <div class="historique">
        <label class="h3"> Historique des calibration </label>
    </div>

    <div class="check">
        <div class="row">
            <div class="col">
                <button class="btn btn-calib btn-lg" onclick="checkInstrument()"> CHECK</button>
            </div>
            <div class="col">
                <label class="h6"> Connexion des appareils : </label>
                <div class="rond" id="led1"></div>
            </div>
        </div>
    </div>

    </div>

    <div class="calib">
        <div class="row">
            <div class="col">
                <label for="calibWireFreq" class="h6"> Frequency </label>
                <input id="calibWireFreq" value="3,3,2,3,4,5">
                <label for="calibWirePower" class="h6"> Power </label>
                <input id="calibWirePower" value="30">
                <button class="btn btn-calib btn-lg" onclick="calibration()"> Calibration </button>
            </div>
        </div>
    </div>

    <script src="/static/js/calib.js"></script>
{% endblock %}


