
button#button {
    background-color: #3875d7;
    border: solid #6DDCBD;
    color: #222222;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

#commande {
    background-color: #5E5694;
}




