{% extends "base.html" %}

{% block static %}
    <link href="/static/css/home.css" rel="stylesheet" type="text/css"/>-
{% endblock %}



{% block title %}
    TESTCASE
{% endblock %}


{% block contents %}
    <div id="colonne2">
        <div>
            <h1>Scheduler</h1>
            <label for="temperature">températures de la chambre </label>
            <input type="text" id="temperature" name="temperature" value="{{ temperature }}">
            {% for mode, list in testcases.items %}
                <div id="schedule-select">
                    <label style="font-weight: bold;"> {{ mode }}</label>
                    {% for tc in list %}
                        <p>
                        <form method="post" action="/testcase/readtc" role="form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button value='{{ tc }},{{ mode }}' name='testcase' id="button">
                                {{ mode }}{{ tc }}
                            </button>
                        </form>
                        <input name="{{ tc }},{{ mode }}" type="checkbox" id="content" checked>
                        </p>
                        <div id="progress">
                            <div class="progresstc" id="progress-bar-{{ mode }}-{{ tc }}"
                                 style="background-color: blue; width: 0;"> &nbsp;
                            </div>
                            <div class="progresstc" id="progress-bar-message-{{ mode }}-{{ tc }}"> Waiting for progress
                                to start...
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <input name="write" type="submit" id="writeschedule" onclick="sendschedule();">
        </div>

    </div>
    <div id="colonne1">
        <h1> Settings </h1>

        <div id="=configuration">
            <form action="{% url "load" %}" role="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="configfile">Configuration file</label>
                <div class="">
                    <select type="name" id="configfile" class="form-control" name="configname">
                        {% for conf in listConf %}
                            <option value="{{ conf }}"> {{ conf }} </option>
                        {% endfor %}
                    </select>
                    <a class="btn_add" href="/config/" style="background-color: #5897fb; padding: 10px 20px;"> add
                        file</a>
                </div>
                <button type="submit" id="button"> LOAD</button>
            </form>
        </div>

        <div id="commande">
            <form action="{% url "start" %}" role="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="">
                    <select type="name" id="type" class="form-control" name="testcase_type">
                        <option value="officiel"> Officiel</option>
                        <option value="test"> Test</option>
                    </select>
                </div>
                <label for="name">Name</label>
                <div class="">
                    <input id="name" class="form-control" name="testcase_nameCarac" value="test">
                </div>
                <label for="simulated">Simulated</label>
                <div class="">
                    <select type="boolean" id="simulated" class="form-control" name="testcase_simulation">
                        <option value="yes">YES</option>
                        <option value="no">NO</option>
                    </select>
                </div>
                <label for="climChamber">Climatic chamber </label>
                <div class="">
                    <select type="boolean" id="climChamber" name="testcase_climChamber" class="form-control">
                        <option value="yes">YES</option>
                        <option value="no">NO</option>
                    </select>
                </div>
                <label for="channel">Channel </label>
                <div class="" id="channels">
                    <SELECT type="box" id="channel" name="testcase_channel" class="form-control">
                        {% for channel in channels %}
                            <option value="{{ channel }}"> {{ channel }} </option>
                        {% endfor %}
                    </SELECT>
                    <input type="button" id="addchannel" onclick="moreChannel();" value="+">
                    <input type="button" id="lesschannel" onclick="lessChannel();" value="-">
                </div>
                <div class="">
                    <button type="submit" id="button-start" class="commande" onclick="startProgress()"> START</button>
                    <!-- remplacer à terme par un bouton start -->
                </div>
            </form>
            <div>
                <form method="post" action="{% url "stop" %}">
                    {% csrf_token %}
                    {{ as_form }}
                    <button type="submit">STOP</button>
                </form>
            </div>
            <div id="progress">
                <div class="progressd" id="progress-bar" style="background-color: blue; width: 0;"> &nbsp;</div>
                <div class="progresssd" id="progress-bar-message"> Waiting for progress to start...</div>
            </div>
        </div>
    </div>


    <script>
        function updateProgressBar(progressBarElement, progressBarMessageElement, progress, lenght) {
            progressBarElement.style.width = progress.percent * lenght + "%";
            progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
            if (progress.current === progress.total) {
                progressBarElement.style.backgroundColor = "green";
            }

        }

        function moreChannel(event) {
            var select_channel = document.querySelector('#channel');
            var newchannel = select_channel.cloneNode(true);
            var div = document.querySelector('#channels');
            div.insertBefore(newchannel, document.querySelector("#addchannel"));
        }

        function lessChannel(event) {
            var div = document.querySelector('#channels');
            var delchan = div.firstChild;
            if (delchan.id !== 'addchannel') {
                div.removeChild(delchan);
            }
        }

        function sendschedule() {
            var list = {};
            var button_writeSchedule = document.getElementById('writeschedule');
            var temperature = document.querySelector('#temperature');
            var checkbox = document.querySelectorAll("#content");
            for (var i = 0; i < checkbox.length; i++) {
                list[checkbox[i].name] = checkbox[i].checked;
            }
            var data_json = JSON.stringify(list);
            $.ajax({
                    url: '{% url "write schedule" %}',
                    type: 'GET',
                    dataType: 'json',
                    data: {tc2play: data_json, temperature: temperature.value},
                    success: function () {
                        showCommand();
                    },
                    error: function () {
                        alert("Error ajax");
                    }
                }
            )
        }

        function setBackGround() {
            var bar = document.getElementById('progress-bar');
            var barMessage = document.getElementById('progress-bar-message');
            var listProgressTc = document.querySelectorAll('.progresstc');
            $.ajax({
                url: '{% url "counter" %}',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var current = data.current;
                    var total = data.total;
                    var percent = Math.round((current / total) * 100);
                    var tc_name = data.tc;
                    var tc_current = data.tc_current;
                    var tc_total = data.tc_total;
                    var tc_percent = Math.round((tc_current / tc_total) * 100);
                    var idbar = "progress-bar-" + tc_name;
                    var idmessage = "progress-bar-message-" + tc_name;
                    var progressbar = document.getElementById(idbar);
                    var progressmessage = document.getElementById(idmessage);
                    console.log(data);
                    console.log(progressbar);
                    console.log(progressmessage);
                    updateProgressBar(bar, barMessage, {percent: percent, current: percent, total: 100}, 1);
                    for (var i = 0; i < listProgressTc.length; i++) {
                        if (progressbar === listProgressTc[i]) {
                            updateProgressBar(progressbar, progressmessage, {
                                percent: tc_percent, current: tc_percent,
                                total: 100
                            }, 0.33);
                        }
                    }

                    if (current !== total || total === 0) {
                        setTimeout(function () {
                            setBackGround();
                        }, 500);
                    }
                    if (current === total) {
                        current = 0;
                        total = 0;
                    }
                },
                error: function (data) {
                    alert("Error ajax");
                }
            });
        }

        function startProgress() {

            setBackGround();
        }


        function showCommand() {
            DivCommand = document.getElementById("commande");
            DivCommand.style.visibility = "visible";

        }

        function hiddenCommand() {
            DivCommand = document.getElementById("commande");
            DivCommand.style.visibility = "hidden";

        }

        {#hiddenCommand();#}


    </script>
{% endblock %}



