{% extends "base.html" %}

{% block static %}
    <link href="/static/css/home.css" rel="stylesheet" type="text/css"/>-
{% endblock %}



{% block title %}
    TESTCASE
{% endblock %}

{% block contents %}

    <input id="listTc" value="{{ listTc }}" type="hidden">
    <input id="listConf" value="{{ listConf }}" type="hidden">

    <div id="configuration">
        <h1> Configuration </h1>
        <a href="/config/">
            <button id="button"> ADD FILE</button>
        </a>
        <form action="{% url "load" %}" role="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="configfile">Select a configuration</label>
            <div class="">
                <select type="name" id="configfile" class="form-control" name="configname">
                    {% for conf in listConf %}
                        <option value="{{ conf }}"> {{ conf }} </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" id="button" onclick="plotSchedule()"> LOAD</button>
        </form>
    </div>


    <div id="scheduler">
        <h1>Scheduler</h1>
        <div class="scheduler">
            <div class="temperature">
                <label for="temperature"> Chamber temp °C </label>
                <input type="text" id="temperature" name="temperature" value="{{ temperature }}">
                <label for="delay"> Chamber delay </label>
                <input type="number" id="delay" name="delay" value="{{ clim_chamber_delay }}">
            </div>
            {#            {% for mode, list in listTc.items %}#}
            {#                <div class="testcase">#}
            {#                    <label class="testcase" style="font-weight: bold; text-align: center"> {{ mode }}</label>#}
            {#                    {% for tc in list %}#}
            {#                        <form method="post" action="/testcase/readtc">#}
            {#                            {% csrf_token %}#}
            {#                            {{ form.as_p }}#}
            {#                            <button value='{{ tc }},{{ mode }}' name='testcase' class="testcase-button">#}
            {#                                {{ mode }}{{ tc }}#}
            {#                            </button>#}
            {#                        </form>#}
            {#                        <input name="{{ tc }},{{ mode }}" type="checkbox" id="content" checked>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            {% endfor %}#}
        </div>
        <input name="write" type="submit" id="button" onclick="sendSchedule();">
    </div>

    <div id="setting">
        <h1> Settings </h1>
        <div id="commande">
            <form action="{% url "start" %}" role="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="">
                    <select type="name" id="type" class="form-control" name="testcase_type">
                        <option value="officiel"> Officiel</option>
                        <option value="test"> Test</option>
                    </select>
                </div>
                <label class="cmd" for="name">Name</label>
                <div class="">
                    <input id="name" class="form-control" name="testcase_nameCarac" value="test">
                </div>
                <label class="cmd" for="simulated">Simulated</label>
                <div class="">
                    <select type="boolean" id="simulated" class="form-control" name="testcase_simulation">
                        <option value="yes">YES</option>
                        <option value="no">NO</option>
                    </select>
                </div>
                <label class="cmd" for="climChamber">Climatic chamber </label>
                <div class="">
                    <select type="boolean" id="climChamber" name="testcase_climChamber" class="form-control">
                        <option value="yes">YES</option>
                        <option value="no">NO</option>
                    </select>
                </div>
                <label class="cmd" for="channel">Channel </label>
                <div class="" id="channels">
                    <SELECT type="box" id="channel" name="testcase_channel" class="form-control">
                        {% for channel in channels %}
                            <option value="{{ channel }}"> {{ channel }} </option>
                        {% endfor %}
                    </SELECT>
                    <input type="button" id="addchannel" onclick="moreChannel();" value="+">
                    <input type="button" id="lesschannel" onclick="lessChannel();" value="-">
                </div>
                <div class="">
                    <button type="submit" id="button" class="cmd" onclick="startProgress()"> START</button>
                    <!-- remplacer à terme par un bouton start -->
                </div>
            </form>
            <div>
                <form method="post" action="{% url "stop" %}">
                    {% csrf_token %}
                    {{ as_form }}
                    <button type="submit" id="button">STOP</button>
                </form>
            </div>
        </div>
    </div>
    <div id="progression">
        <div id="progresssd">
            <div class="progress" style="width: 70%">
                <div class="span" id="progress-bar" style="background-color: blue; width: 0;"> &nbsp;</div>
            </div>
            <div id="progress-bar-message"> Waiting for progress to start...</div>
        </div>
        <div id="progresstc">
            <p style="font-weight: bold"> Température </p>
            <p id="which-temperature" style="font-weight: bold"></p>
            <p style="font-weight: bold"> Testcase en cours</p>
            <p id="name-tc"></p>
            <div class="progress" style="width: 70%; text-align: center;">
                <div class="span" id="progress-bar-tc" style="background-color: blue; width: 0;"> &nbsp;</div>
            </div>
            <div id="progress-bar-message-tc"> Waiting for progress to start...</div>
        </div>
    </div>


    <script src="/static/js/testcase_home_v2.js">
    </script>
{% endblock %}



