{% extends "base.html" %}

{% block title %}
    READ
{% endblock %}


{% block contents %}
    <div>
        <a href="/conf/">
        <button class="button"> return</button>
        </a>
    </div>

    <p> Fichier de configuration : {{ name }} </p>

    <ul>
        {% for testcase, list in configs.items %}
            {% for testcase_i in list %}
                <h1><strong>{{ testcase }} {{ testcase_i.name }}</strong></h1>
                {% for conf, value in testcase_i.items %}
                    <p><strong>{{ conf }}</strong>: {{ value }} </p>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>


{% endblock %}
